# Ignore any video file
*.mp4
*.avi
*.mkv
*.mov
*.wmv

*.txt
client
server


stream_test/sender
stream_test/receiver

data/*.csv
# Ignore wxWidgets-3.2.2 directory
wxWidgets-3.2.2/

# Ignore any file with .o extension
*.o
server_side/*.o
client_side/*.o
Encrypt/*.o
stream_test/*.o
*.Identifier